 /* CREATE */
 
  #create-category-form{
   padding: 5px 10px;
  }
 
  #create-category-form input{
   height: 38px;
 
   padding: 2px 10px;
   border-radius: 5px;
 
   border:none;
   border-bottom-left-radius: 0px;
   border-bottom-right-radius: 0px;
  }
 
  #create-category-form button{
   border-radius: 5px;
   border-top-left-radius: 0px;
   border-top-right-radius: 0px;
  }
