body {
    background-color: rgb(255, 255, 255);
}

div.container-fluid {
    margin: 0;
    padding: 0;
}

.fs-mini {
    font-size: 13px;
}

.link {
    color: #0d6efd !important;
    text-decoration: none;
}

#username {
    right: 10px;
}

/* .alert {
    margin-bottom: 0 !important;
} */

.text-white{
    color: white;
}

.navbar-toggler-icon{
    width: 20px;
    height: 20px;
}

.navbar-toggler{
    padding: .125rem .375rem;
}

.labels {
    font-size: 12px;
    font-weight: bold;
}

.close{
    color: red;
    position: absolute;
    right: 10px;
    top: 5px;
    font-weight: bold;
    font-size: 21px;
    cursor: pointer;
}

footer{
    height: 40px;
}

footer div{
    height: 100%;
    line-height: 35px;
}

.back:hover {
    color: #682773;
    cursor: pointer
}

.center{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}